<%- layout("./layouts/doctorboilerplate") %>

<style>
    body { background-color: #f8f9fa; }
    
    .appointment-form-container {
        max-width: 100%;
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-header {
        font-size: 22px;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 15px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }

    input, select, textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .success-message {
        text-align: center;
        color: green;
        font-weight: bold;
        margin-top: 10px;
    }
</style>

<div class="container">
    <div class="form-header">
        <h2><strong><%= appointment.patientId.fullName %></strong>'s Appointment</h2>
    </div>
    <div class="appointment-form-container my-3">
        <form action="/doctor/appointments/addAppointmentDetails/<%= appointment._id %>" method="POST" enctype="multipart/form-data">
            <div class="form-group">
            <label>Symptoms</label>
            <textarea 
                name="patient[symptoms]" 
                placeholder="Describe symptoms"><%= appointment.summary ? appointment.summary : "" %></textarea>
            </div>

            <div class="form-group">
            <label>Disease</label>
            <input 
                type="text" 
                name="patient[disease]" 
                value="<%= appointment.disease ? appointment.disease : "" %>"
            />
            </div>

            <div class="form-group">
                <label>Prescription</label>
                <input type="file" name="patient[prescription]" multiple>
            </div>
        
            <div class="form-group">
                <label>Medical report</label>
                <input type="file" name="patient[medicalReports]" multiple>
            </div>
        
            <div class="form-group">
                <label>Bill (PDF, Images, etc.)</label>
                <input type="file" name="patient[bill]" multiple>
            </div>

            <div class="form-group">
                <label>Fees</label>
                <input type="text" name="patient[billAmount]" value="<%= appointment.doctorId.consultantFees %>">
            </div>
        
            <button class="btn btn-primary" type="submit">Save</button>
        </form>        
    </div>
</div>
