<%- layout("./layouts/patient-boilerplate") %>

<!-- External CSS -->
<link rel="stylesheet" href="/css/patient/dashboard.css">

<div class="dashboard-container container">
  <div class="dashboard-header">
      <h2>Dashboard</h2>
  </div>

  <div class="welcome-card">
      <div class="welcome-content">
          <!-- <img src="/images/medical-team.png" alt="Doctors" class="welcome-image"> -->
          <div class="welcome-text">
              <h3>Welcome back</h3>
              <i class="fa-solid fa-user fs-5"></i>
              <span class="patient-name">&nbsp;<%= patient.fullName || patient.username %></span>
              <p>
                  We would like to take this opportunity to welcome you to our practice and 
                  thank you for choosing our physicians to participate in your healthcare. 
                  We look forward to providing you with personalized, comprehensive healthcare 
                  focusing on wellness and prevention.
              </p>
          </div>
      </div>
  </div>

  <div class="patient-info">
        <h3>Patient Information:</h3>
      <ul>
          <li><strong>Full Name:</strong> <%= patient.fullName %></li>
          <li><strong>Email:</strong> <%= patient.email %></li>
          <li><strong>Gender:</strong> <%= patient.gender %></li>
          <li><strong>Age:</strong> <%= patient.age %> years old</li>
          <li><strong>Height:</strong> <%= patient.height %> cm</li>
          <li><strong>Weight:</strong> <%= patient.weight %> kg</li>
          <li><strong>Blood Type:</strong> <%= patient.bloodType %></li>
          <li><strong>Phone:</strong> <%= patient.phone %></li>
          <li><strong>Address:</strong> <%= patient.address %></li>
      </ul>
      <a href="/patient/profile/<%= patient._id %>" class="btn btn-primary">Update Profile</a>
  </div>
</div>
